<body>
    <div class="buscador">
        <div class="buscarPorInput">
            <input type="text" placeholder="Filtra por deporte">
            <button class="lupa"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
        </div>
        <div class="botonera">
            <button class="boton1">Ropa</button>
            <button class="boton2">Material</button>
        </div>
    </div>

    <div class="fondoCards">
    <hr>

     <div class="card" routerLink="/card-details">
            <img src="../../../assets/img/botamonte.png" class="card-img-top" alt="...">
            <div class="textoYguardar">
                <div class="card-body">
                    <div class="texto">
                      <h5 class="card-title">Botas Montaña</h5>
                      <p class="card-text">Botas Columbia, numero 39, 129euros.</p>
                      <!-- <a href="#" class="btn btn-primary">Ir al anuncio</a> -->
                    </div>
                </div>
                <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg></button>
            </div>
     </div>

     <div class="card" routerLink="/card-details">
        <img src="../../../assets/img/botamonte.png" class="card-img-top" alt="...">
        <div class="textoYguardar">
            <div class="card-body">
                <div class="texto">
                  <h5 class="card-title">Botas Montaña</h5>
                  <p class="card-text">Botas Columbia, numero 39, 129euros.</p>
                  <!-- <a href="#" class="btn btn-primary">Ir al anuncio</a> -->
                </div>
            </div>
            <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg></button>
        </div>
 </div>

 <div class="card" routerLink="/card-details">
    <img src="../../../assets/img/botamonte.png" class="card-img-top" alt="...">
    <div class="textoYguardar">
        <div class="card-body">
            <div class="texto">
              <h5 class="card-title">Botas Montaña</h5>
              <p class="card-text">Botas Columbia, numero 39, 129euros.</p>
              <!-- <a href="#" class="btn btn-primary">Ir al anuncio</a> -->
            </div>
        </div>
        <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg></button>
    </div>
</div>

<div class="card" routerLink="/card-details">
    <img src="../../../assets/img/botamonte.png" class="card-img-top" alt="...">
    <div class="textoYguardar">
        <div class="card-body">
            <div class="texto">
              <h5 class="card-title">Botas Montaña</h5>
              <p class="card-text">Botas Columbia, numero 39, 129euros.</p>
              <!-- <a href="#" class="btn btn-primary">Ir al anuncio</a> -->
            </div>
        </div>
        <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg></button>
    </div>
</div>
    


</div>
</body>