<body class="login-container">
    <div class="logo">
        <img class="img-logo" src="../../../assets/img/LOGO ANTIK.png" alt="">
    </div>
    
    <div class="input-datos">
        <input placeholder=" Usuario o email" >
        <input placeholder="Contraseña" >
    </div>

    <div class="botones-montañas">
        <img class="img-montaña" src="../../../assets/img/parte baja.png" alt="">
       <div class="boton-acceder">
            <button class="acceder">
            Acceder
            </button>
       
            <h4>
                ¿No tienes cuenta? Crear Cuenta
                <hr>
                ¿Has olvidado tu contraseña? Recuperar Contraseña
            </h4>
        </div>
    </div>

</body>
