<header class="header">
    <div class="botones-header">
        <img class="imagenAntik" src="../../../assets/img/titulo.png" alt="">
        <!-- <button class="filter"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="29" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
          </svg></button> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="29" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
              </svg>
          </button>
          <div class="offcanvas menuLateral rounded-3 offcanvas-end" style="max-width: 65%;" tabindex="-1 " id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="img" ></h5>
              <button  type="button"  class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/profile" data-bs-dismiss="offcanvas" style="margin-top: 4%;">Mi perfil</a>
                  </li>
                  <hr style="margin-top: 0%;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/my-created-cards" data-bs-dismiss="offcanvas">Mis articulos en venta</a>
                  </li>
                  <hr style="margin-top: 0%;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/my-save-cards" data-bs-dismiss="offcanvas" >Favoritos</a>
                  </li>
                  <hr style="margin-top: 0%;">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="faqs" data-bs-dismiss="offcanvas" >FAQs</a>
                  </li>
                  <hr style="margin-top: 0%;">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/tech-support" data-bs-dismiss="offcanvas" >Soporte</a>
                  </li>
                  <hr style="margin-top: 0%;">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/about-us" data-bs-dismiss="offcanvas" >Sobre Antik</a>
                  </li>
                  <hr style="margin-top: 0%;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home" data-bs-dismiss="offcanvas" style="position:fixed; bottom: 5%;">Cerrar sesión</a>
                </li> 
              </ul>
            </div>
          </div>
        </div>
</header>
