.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:rgb(86, 83, 83);
    height: 9vh;
    width: 100%;
}

.botones-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.imagenAntik{
    width: 17vh;
    margin-left: 3vh;
    height: 17vh;
    margin-top: -2.6vh;
}

.navbar-toggler{
    background-color: transparent;
    color: white;
    border: none;
    padding-left: 21vh;
}

.navbar-toggler:focus, .navbar-toggler:active{
    outline: none;
    box-shadow: none;
}

.offcanvas-body, .offcanvas-header{
    background-color: var(--pulsado);
    color: white;
}

.offcanvas-body:hover{

    color: rgb(0, 0, 0);
}

.btn-close{
    color: white;
}

hr{
    margin-top: 0%;
    color: white;
}

a{
    color: white;
}

@media (max-height: 570px){

    .person-lines-fill{
        margin-top: -7vh;
    } 
    .navbar-green{
        height: 14vh;
    }
    .img-responsive{
        width: 23vh; 
        height: 11.5vh;
        margin-top: -3vh;
    }
    .nav-link{
        color: var(--fontColor2);
        font-weight: 100px;
        font-size: 13px;
        border-color: var(--fontColor2);
    }
    .nav-item{
        margin-top: -9%;
    }
}