<main>
    <h1>Mis Favoritos</h1>

    <div class="containerTarjetas">
        <div class="cards">
            <div class="card">
                <img src="../../../assets/img/botamonte.png" alt="">
                <div class="textoYcorazon">
                    <div>
                        <h2>Titulo</h2>
                        <h3>Marca.Precio</h3>
                    </div>
                    <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="../../../assets/img/botamonte.png" alt="">
                <div class="textoYcorazon">
                    <div>
                        <h2>Titulo</h2>
                        <h3>Marca.Precio</h3>
                    </div>
                    <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="../../../assets/img/botamonte.png" alt="">
                <div class="textoYcorazon">
                    <div>
                        <h2>Titulo</h2>
                        <h3>Marca.Precio</h3>
                    </div>
                    <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="../../../assets/img/botamonte.png" alt="">
                <div class="textoYcorazon">
                    <div>
                        <h2>Titulo</h2>
                        <h3>Marca.Precio</h3>
                    </div>
                    <button class="meGusta"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                    </button>
                </div>
            </div>
        </div>  
    </div>
</main>
