<body class="login-container">
    <div class="logo">
        <img class="img-logo" src="../../../assets/img/LOGO ANTIK.png" alt="">
    </div>
    <div class="input-datos">
        <input placeholder=" Usuario o email" >
    </div>

    <div class="botones-montañas">
        <img class="img-montaña" src="../../../assets/img/parte baja.png" alt="">
        <div class="boton-acceder">
            <button class="acceder">
                Acceder
                </button>
            </div>
            <h4>
               ¿Estas registrado? Accede a tu cuenta
            </h4>
     </div>


</body>
