main{
    padding-top: 7vh;
    background-image: url(../../../assets/img/fondo3.png);
 }
 
h1{
    color: rgb(255, 255, 255);
    padding-top: 4vh;
    font-size: xx-large;
    text-align: center;
    background-color: #0000008a;
    height: 11vh;
}
 
 
 
 .containerTarjetas{
    background-color: transparent;
     width: 100% !important;
     height: 87vh;
     margin-top: -2vh;
     padding: 1vh;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 34vh;
 }
 
 .cards{
   background-color: transparent;
     width: 100% !important;
     /* height: 57vh; */
     margin-top: -1vh;
     padding: 1vh;
 }
 
 .card{
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0,0,0,.125);
     border-radius: .25rem;
     height: 30vh;
     margin-top: 2vh;
 }
 
 img{
     width: 100% !important;
     height: 19vh !important;
 }
 
 .textoYcorazon{
     display: flex;
     justify-content: space-between;
 }
 
 button{
     margin-top: 7vh;
     margin-right: 1vh;
 }
 
 .editar{
     border: none;
     background-color: transparent;
     color: rgb(0, 0, 0);
 }

.detalles{
    color: rgb(13, 13, 13);
}

.texto{
    color: black;
    background-color: rgb(255, 255, 255);
    width: 106%;
    margin-left: -4%;
    padding-bottom: 1vh;
    padding-top: 5vh;
    height: 27vh;
    display: flex;
    flex-direction: column;
    margin-top: -7vh;
}

.descripción{
    margin-top: -1vh;
}

h3{
    text-align: right;
    margin-right: 2vh;
}

.container{
    margin-top: 9vh;
}

.btn-dark,.btn-block{
    margin-left: 32%;
    width: 36%;
    height: 6vh;
    margin-top: 0vh;
    box-shadow: 4px 4px 4px 1px rgba(26, 100, 100, 0.382);
    border: 6px solid white;
    border-radius: 4.25rem;
}



.collapse, .content-text-header{
    padding-top: 2vh;
}

#collapseExample3h3{
    padding-top: 2vh;
}

.buttonGuardar{
    background-color: var(--fondo);
    color: white;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.38);
    border: 1px solid white;
    border-radius: 0.45rem;
    width: 59%;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 21%;
}

