<main>

    <div class="tarjeta">
        <div>
            <img src="../../../assets/img/botamonte.png" alt="">
              <div class="texto">
                   <h3>Titulo</h3>
                   <h3>Marca . Talla . Estado</h3>
                   <h3>Precio</h3>
             </div>
        </div>
        <hr>
        <div class="descripción">
            <h3 class="detalles">
                Descripción artículo en venta
            </h3>
        </div>
        <div class="container">
            <section class="content">
                <article class="content-text">
                    <header class="content-text-header">
                        <div class="edit-data">
                            <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample3h3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Editar datos
                            </a>
                        </div> 
                    </header>   
                </article>
                <article>
                    <div class="collapse" id="collapseExample3h3">
                        <div class="card card-body" id="card">
                            <h3>Cambiar Titulo</h3>
                            <input type="text" name="" id="">
                            <h3>Cambiar Marca</h3>
                            <input type="text">
                            <h3>Cambiar Talla</h3>
                            <input type="text">
                            <h3>Cambiar Estado</h3>
                            <input type="text" name="" id="">
                            <h3>Cambiar Precio</h3>
                            <input type="text" name="" id="">
                            <h3>Cambiar Ubicación</h3>
                            <input type="text" name="" id="">

                            <button class="buttonGuardar">Guardar Cambios</button>
                        </div>
                    </div>
                </article>
            </section>
            
        </div>
        
    </div>
</main>
