main{
    background-image: url(../../../assets/img/fondoB&W.png);
    padding:auto ;
    height: 100% ;
    color: white;
    padding-bottom: 25vh;

}

body{
    margin: 0px;
    margin-top: 0px;
}
.container{
    background-color: transparent;
    padding-bottom: 15%;
}

h2{
    margin-top: 10vh;
    color: rgb(0, 0, 0);
    text-align: center;
}
 
.content{
    margin-left: 3vh;
    margin-top: 3vh;
    border: white;
    padding: auto;
}

.titulo{
    padding-top: 11vh;
    background-color: #000000c9;
    padding-bottom: 2vh;
}
.Title{
    text-align: center;
}
.hr{
    height: 1vh;
}


.card-body{
    width: 95%;
}

p{
    color: black;
}



