<body>
    <main>
       <div class="titulo">
           <h1 class="Title">¿En que podemos ayudarte?</h1>
        
       </div>
       <div class="container">
           <section class="content">
               <article class="content-text">
                   <header class="content-text-header">
                       <div class="edit-data">
                           <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%; box-shadow: 0 0 0 .25rem rgba(234, 238, 240, 0.5);">
                               ¿Cómo puedo Registrarme?
                           </a>
                       </div> 
                   </header>   
               </article>
               <article>
                   <div class="collapse" id="collapseExample1">
                       <div class="card card-body" id="card">
                           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                           </p>
                       </div>
                   </div>
               </article>
           </section>
           <section class="content">
               <article class="content-text">
                   <header class="content-text-header">
                       <div class="edit-data">
                           <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%; box-shadow: 0 0 0 .25rem rgba(234, 238, 240, 0.5);">
                               ¿Cómo añadir un producto?
                           </a>
                       </div> 
                   </header>   
               </article>
               <article>
                   <div class="collapse" id="collapseExample">
                       <div class="card card-body">
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  
                           </p>
                       </div>
                   </div>
               </article>
           </section>
           <section class="content">
               <article class="content-text">
                   <header class="content-text-header">
                       <div class="edit-data">
                           <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%; box-shadow: 0 0 0 .25rem rgba(234, 238, 240, 0.5);">
                               Contactar con el vendedor
                           </a>
                       </div> 
                   </header>   
               </article>
               <article>
                   <div class="collapse" id="collapseExample2">
                       <div class="card card-body">
                           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
                       </div>
                   </div>
               </article>
           </section>
           <section class="content">
               <article class="content-text">
                   <header class="content-text-header">
                       <div class="edit-data">
                           <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%; box-shadow: 0 0 0 .25rem rgba(234, 238, 240, 0.5);">
                               ¿Cómo ver mis favoritos?
                           </a>
                       </div> 
                   </header>   
               </article>
               <article>
                   <div class="collapse" id="collapseExample3">
                       <div class="card card-body">
                       
                           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                           </p>
                       </div>
                   </div>
               </article>
           </section>
           <section class="content">
               <article class="content-text">
                   <header class="content-text-header">
                       <div class="edit-data">
                           <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 95%; box-shadow: 0 0 0 .25rem rgba(234, 238, 240, 0.5);">
                               ¿Cómo ver mis ventas?
                           </a>
                       </div> 
                   </header>   
               </article>
               <article>
                   <div class="collapse" id="collapseExample4">
                       <div class="card card-body">
                       
                           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                       </div>
                   </div>
               </article>
           </section>
           <section class="content" >
               <article class="content-text" >
                   <header class="content-text-header">
                       <div class="edit-data">
                           <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false"  aria-controls="collapseExample" style="width: 95%; box-shadow: 0 0 0 .25rem rgba(234, 238, 240, 0.5);">
                               Políticas y reglas de Antik
                           </a>
                       </div> 
                   </header>   
               </article>
               <article>
                   <div class="collapse" id="collapseExample5" >
                       <div class="card card-body" >
                           <p > Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                               <br>
                               <br>
                               <br>
                               <br>
                           </p>
                       </div>
                   </div>
               </article>
           </section>
       </div>
     </main>
   </body> 
   