<body class="login-container">
    <div class="logo">
        <img class="img-logo" src="../../../assets/img/LOGO ANTIK.png" alt="">
    </div>
    <div class="cuestionario">
        <input type="text" placeholder="Usuario">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Contraseña">
        <input type="text" placeholder="Repetir Contraseña">
    </div>
    <div class="botones-montañas">
        <img class="img-montaña" src="../../../assets/img/parte baja.png" alt="">
        <div class="boton-registro">
             <button class="registrar">
            Registrarse
             </button>
         </div>
         <h4>
            ¿Estas registrado? Accede a tu cuenta
         </h4>
     </div>
</body>
