.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo) ;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 8vh;
}

.botones-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
    width: 90%;
    margin-top: 2vh;
   
}

.boton{
    background-color: transparent;
    border: none;
    width: 23px;
}