<main>
    <img src="../../../assets/img/irati.png" alt="">
    <hr>
    <div class="texto">
        <h2>Nombre</h2>
        <h2>Email</h2>
        <h2>Telefono</h2>
    </div>
    <div class="container">
        <section class="content">
            <article class="content-text">
                <header class="content-text-header">
                    <div class="edit-data">
                        <a class="btn btn-dark btn-block" data-bs-toggle="collapse" href="#collapseExample3h3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Editar datos
                        </a>
                    </div> 
                </header>   
            </article>
            <article>
                <div class="collapse" id="collapseExample3h3">
                    <div class="card card-body" id="card">
                        <input type="text" name="" id="" placeholder=" Cambiar Nombre">
                        <input type="text" placeholder="Cambiar Email">
                        <input type="text" placeholder="Cambiar Telefono">
                        <input type="text" name="" id="" placeholder="Introducir Contraseña<">
                        <button class="buttonGuardar">Guardar Cambios</button>
                    </div>
                </div>
            </article>
        </section>
        
    </div>
    
</main>