<main>
    <h1>Mensajes</h1>
    <hr class="hr1">
    <div class="chat1" routerLink="/conversation">
        <img src="../../../assets/img/irati.png" alt="">
        <h4>Irati</h4>
    </div>
    <hr class="hrChat">
    <div class="chat2" routerLink="/conversation">
        <img src="../../../assets/img/baki.png" alt="">
        <h4>Raul</h4>
    </div>
    <hr class="hrChat">
    <div class="chat1" routerLink="/conversation">
        <img src="../../../assets/img/irati.png" alt="">
        <h4>Irati</h4>
    </div>
    <hr class="hrChat">
    <div class="chat2" routerLink="/conversation">
        <img src="../../../assets/img/baki.png" alt="">
        <h4>Raul</h4>
    </div>
</main>
