main{
    background-image: url(../../../assets/img/fondoHome.jpg.png);
    color: white;
    height:93vh;
    width: 100%;
    margin-top: 9vh;
}

h1{
    padding-top: 4vh;
    padding-left: 2vh;
    color: white;
}

.hr1{
    height: 2vh;
    color: rgba(255, 255, 255, 0);
}

.chat1{
    display: flex;
    flex-direction: row;
    background-color: rgba(35, 64, 83, 0.45);
    height: 10vh;
    padding-top: 3vh;
    margin-top: -2.1vh;
    width: 100%;
    border: 2px black solid;
}
.chat2{
    display: flex;
    flex-direction: row;
    background-color: rgba(166, 200, 200, 0.55);
    height: 10vh;
    padding-top: 3vh;
    margin-top: -2.1vh;
    width: 100%;
    border: 2px black solid;
}

img{
    width: 5vh;
    height: 5vh;
    border: white;
    border-radius: 50%;
    margin-left: 2vh;
}

h4{
    width: 50%;
    margin-left: 2vh;
}

.hrChat{
    height: 2px;
    margin-top: 0vh;
}