<main>
    <div class="Venta">
        <div class="fondo">
            <h2>Titulo</h2>
            <input type="text" name="" id="">
            <h2>Foto</h2>
            <input type="text">
            <h2>Marca</h2>
            <input type="text" name="" id="">
            <h2>Talla</h2>
            <input type="text" name="" id="">
            <h2>Estado</h2>
            <input type="text" name="" id="">
            <h2>Precio</h2>
            <input type="text" name="" id="">
            <h2>Ubicación</h2>
            <input type="text" name="" id="">
            <h2>Descripción</h2>
            <input type="text" id="Descripción">
        </div>    
    </div>
    <button>Subir Articulo</button>
</main>
