main{
    background-color: var(--fondo);
    color: white;
    height: 92vh;
}

h1{
    padding: 2vh;
}

hr{
    height: 2px;
    margin-top: -1vh;
}

.Venta{
    margin-left: 7vh;
}

input{
    width: 83%;
    margin-top: 0.2vh;
}

h2{
    margin-top: 0.5vh;
}

button{
    background-color: var(--fondo);
    color: white;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.38);
    border: 1px solid white;
    border-radius: 0.45rem;
    width: 59%;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 21%;
}